* {
    margin: 0;
    padding: 0;
    font-family: "Source-Han-Light";
}

body {
    background-image: url('./src/backdrop.jpg');
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
    /* 设置背景颜色，背景图加载过程中会显示背景色 */
    background-color: #75999d;
    position: relative;
}

.card {
    margin: 10px;
    background: rgba(30, 36, 37, 0.2);
    box-shadow: rgba(211, 211, 211, 0.2) 2px 2px 20px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 5px;
}

#body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 97vh;
    /* 设置容器的高度为视口高度，以便看到居中效果 */
}

#main {
    /* background-color: #75999d; */
    margin-left: 17vh;
}

#name {
    color: aliceblue;
    text-shadow: rgba(39, 39, 39, 0.7) 5px 7px 12px;
    margin-left: 2.5vh;
    font-size: 10vh;
    height: 8vh;
}

#mainCard {
    display: flex;
    place-items: start;
    justify-content: flex-start;
    height: 20vh;
    width: 50vh;
    margin-top: 7vh;
    text-align: center;
}

.quotationMarks {
    height: 5vh;
    width: 5vh;
    color: rgb(219, 219, 219);
    font-size: 9vh;
    text-shadow: rgba(39, 39, 39, 0.9) 3px 3px 7px;
}

#leftQuotationMarks {
    margin-top: -1vh;
    margin-left: 1vh;
}

#rightQuotationMarks {
    margin-top: 12vh;
    margin-left: -1vh;
}

#yiyan {
    display: flex;
    align-items: center;
    width: 39vh;
    height: 12vh;
    margin-top: 4vh;
}

#yiyanText {
    color: rgb(219, 219, 219);
    font-size: 2vh;
    vertical-align: middle;
    text-shadow: rgba(19, 19, 19, 0.9) 3px 3px 9px;
}

#icons {
    display: flex;
    /* background-color: #da3b70; */
    height: 34px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.icon {
    margin-right: 24px;
    height: 23px;
    width: 23px;
    box-shadow: rgba(19, 19, 19, 0.7) 0px 0px 12px;
}

#right {
    margin-left: 15vh;
    padding: 20px;
    height: 90vh;
    width: 105vh;
    /* background-color: #75999d; */
}

#info {
    margin-top: 15vh;
    height: 23vh;
    /* padding: 3vh; */
}

#dateTime {
    width: 30vh;
    height: 17vh;
    padding: 2vh;
    color: aliceblue;
    text-shadow: rgba(19, 19, 19, 0.9) 3px 3px 9px;
    text-align: center;
    font-size: 3vh;
    float: left;
}

#dateTime p {
    padding-top: 0.8vh;
}

.title {
    font-size: 3vh;
    color: aliceblue;
    text-shadow: rgba(19, 19, 19, 0.9) 3px 3px 9px;
}

#links {
    margin-top: 2vh;
    height: 37vh;
    /* padding: 3vh; */
}

.link {
    width: 19vh;
    height: 9vh;
    padding: 2vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
}

.linkIcon {
    margin-left: -10vh;
    height: 4vh;
    width: 4vh;
}

.linkText {
    margin-left: 2vh;
    margin-right: -10vh;
    color: aliceblue;
    font-size: 2.5vh;
}

#message {
    position: relative;
    width: 114px;
    height: 44px;
    position: fixed;
    bottom: 2.5vh;
    left: 1%;
}

#message p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:aliceblue;
    font-size: 1.7vh;
}


#bottom {
    height: 3vh;
    background-color: rgba(30, 36, 37, 0.3);
    text-align: center;
    color: rgb(190, 190, 190);
    font-size: 2vh;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}