* {
  padding: 0;
  margin: 0;
}

body {
  background: #0179d8;
  font-family: '微软雅黑';
  color: #ffffff;
  padding: 3.5ex;
}

.error {
  padding: 3% 4%;
}

.face {
  font-size: 150px;
  font-weight: normal;
  line-height: 180px;
  margin-bottom: 3%;
}

.title {
  font-size: 9ex;
}

.info {
  margin-top: 10px;
  margin-left: 2ex;
  font-size: 3ex;
}

.image-text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2ex;
}

.QR {
  overflow:hidden;
  white-space:nowrap;
}

.percent {
  text-align: left;
  float: right;
  font-size: 4ex;
  padding-left: 2ex;
}

a {
  margin: 0 0 0 4%;
  font-size: 20px;
  color: #ffffff;
  text-decoration:none;
}

#community {
  height: 20%;
  width: 20%;
}

#communityPage {
  transform:scale(0.2,0.2)
}